@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #f3f4f6;
    --text-color: #1f2937;
    --primary-color: #2563eb;
  }
  
  .dark-mode {
    --background-color: #1f2937;
    --text-color: #f3f4f6;
    --primary-color: #60a5fa;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }